* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    list-style: none;
    text-decoration: none;
}

body{
    padding: 1%;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.tab-components{
    margin: 1%;
    border-radius: 0.5rem 0 0.5rem 0.5rem;
}

.tabs-button-wrapper{
    display: flex;
    justify-content: flex-start;
    font-size: 1.4rem;
    cursor: pointer;
}

#tab-01{
    background-color: white;
    padding: 2%;
    border-radius: 0.5rem 0 0 0;
    border-right: 0.1rem solid silver;
    border-bottom: 0.1rem solid silver;
}

#tab-02{
    background-color: white;
    padding: 2%;
    border-right: 0.1rem solid silver;
    border-bottom: 0.1rem solid silver;
}

#tab-03{
    background-color: white;
    padding: 2%;
    border-radius: 0 0.5rem 0 0;
    border-bottom: 0.1rem solid silver;
}

.tabs-content-wrapper{
    padding: 2%;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    background-color: white;
}

h3{
    padding-bottom: 2.5%;
    font-size: 1.8rem;
    font-weight: 300;
}

.info{
    font-size: 1rem;
}

.tabs-content-wrapper .tab-content {
    margin-bottom: 1rem;
    display: none;
  }
  
  .tabs-content-wrapper .tab-content.active {
    display: block;
  }